body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    list-style: none;
}

#b1{
    position: relative;
}

.b1list{
    text-decoration: none;
    list-style: none;
    background-color: #ccc;
    width: 150px;
    padding: 0;
    display: none;
    position: absolute;
}

.b1listitem{
    height: 40px;
    line-height: 40px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.b1dropup{
    background-color: blue;
    text-align: center;
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 135px;
}

.b1dropup:hover ~ .b1list{
    display: block;
}

.b1list:hover{
    display: block;
}

.b1listitem:hover{
    background-color: #555555;
}


#b2{
    border: 2px solid #ccc;
    display: flex;
    width: 600px;
}

#b2 .p1{
    background-color: black;
    width: 150px;
}

#b2 .p2{
    text-align: center;
    padding-top: 10px;
    width: 450px;
}

#b2 .list{
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

#b2 .list li{
    padding: 10px 5px 10px 15px;
    cursor: pointer;
}

#b2 .list a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

#b2 .list li:hover a{
    cursor: pointer;
    color: white;
}

#b2 .list .special{
    padding-left: 25px;
}

#b2 .list .active-button{
    background-color: green;
}

#b2 .list .active-button a{
    color: white;
}

#b2 .list .active-item{
    display: block;
    color: white;
}

#b2 .list .inactive-item{
    display: none;
}

#b3 button{
    display: block;
    width: 300px;
    height: 30px;
    background-color: green;
    border: 1px solid black;
}

#b3 button a{
    text-decoration: none;
    color: white;
}

#b3 button:hover{
    background-color: blue;
    cursor: pointer;
}

#b4{
    position: fixed;
    display: flex;
    background-color: #ccc;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
    transition: 0.4s;
    width: 100%;
}

#b4 .logo{
    color: black;
    font-size: 30px;
}

#b4 .button{
    color: black;
    font-size: 25px;
    margin-left: 10px;
    padding: 5px 5px;
    border-radius: 10px;
}

#b4 .button:hover{
    background-color: lightblue;
}



