

#b1{
    background-color:#555555;
    display: flex;
    width: 500px;
    height: 100px;
}

#b1 div{
    color: white;
    font-size: 40px;
    position: relative;
    width: 125px;
}

#b1 div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#b1 div:hover{
    background-color: black;
    cursor: pointer;
}

#b1 div:first-of-type{
    background-color: green;
}


#b2{
    width: 100px;
    height: 625px;
    background-color: #555555;
}

#b2 div{
    height: 125px;
    width: 100%;
    position: relative;
}


#b2 div:hover{
    background-color: black;
    cursor: pointer;    
}

#b2 div:first-of-type{
    background-color: green;
}

#b2 div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;
}


